body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bmi-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 20px;
  padding-right: 30px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  max-width: 400px;
  width: 100%;
  color: #fff;
}

.bmi-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffff;
}

.valueAndUnit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #f0f0f0;
  font-size: 1rem;
  font-weight: bold;
}

.input-group input {
  /* width: 100%; */
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 10px 0 0 10px;
  font-size: 1rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.993);
  color: rgb(85, 81, 81);
  outline: none;
}

.unit {
  padding: 10px;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.993);
  color: rgb(85, 81, 81);
  outline: none;
  border: 1px solid #f0f0f0;
}

.unit select {
  background: none;
  border: none;
  color: rgb(85, 81, 81);
  font-size: 0.95rem;
  font-weight: bold;
  outline: none;
}

.input-group input::placeholder {
  color: #e0e0e0;
}

.btn-calculator {
  margin-top: 10px;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  color: white;
  border: none;
  padding: 15px 15px;
  border-radius: 30px;
  font-size: 0.75rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-calculator:hover {
  background: linear-gradient(90deg, #e52e71, #ff8a00);
}

.result {
  margin: 10px;
}

.result h3 {
  font-size: 1.25rem;
  margin: 10px 0;
}

.result img {
  height: 60px;
  margin: 0;
}

.result h4 {
  font-size: 1rem;
  color: #ffd700;
}
